{% for room in rooms %}
    {% if loop.index%4==1 %}
        <div class="table-row">
    {% endif %}
    <div class="table-column">
        <a href="{{ room.room_source }}" target="_blank" >
            <img src="{{ room.room_cover }}" class="pic-size">
        </a>
        <div>
        <div style="color: #000; width: 70%; font-size: 10px; float: left; white-space:nowrap; overflow:hidden;
                    text-overflow:ellipsis">
            {{ room.room_title }}
<!--            {% if room.room_title|length>15 %}-->
<!--                {{ room.room_title }}-->
<!--                {{ room.room_title|truncate(length=16, killwords=False, leeway=0) }}-->
<!--            {% else %}-->
<!--                {{ room.room_title }}-->
<!--            {% endif %}-->
        </div>
        <div style="color: #708090; font-size: 10px; float: right; border-right: 15px solid #FFF">
            {{ room.room_category }}
        </div>
        </div>
        <div>
        <div style="color: #000; font-size: 10px; float: left; border-right: 15px solid #FFF">
            {{ room.author }}
        </div>
        <div style="color: #000; font-size: 10px; float: right; border-right: 15px solid #FFF">
            {{ room.popularity }}
        </div>
        </div>
    </div>
    {% if loop.index%4==0 %}
        </div>
    {% endif %}
{% endfor %}